@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about{
    position: absolute;
    bottom: -190px; /* Adjust based on how low you want the arrow */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-family: "Roboto", "Sans-serif";
    font-weight: 300;
    font-style: normal;
    align-items:end;
    z-index: -1; /* Lower z-index to push it behind */
    
    
}


.about>p{
    margin-left: 30%;
    margin-right: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}

.about h2{
font-size: 38px;
}


  
  .items-right {
    position: fixed;
    top: 130px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .items-right > * {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .items-right {
      top: 100px;
      right: 5px;
    }
  
    .items-right > * {
      font-size: 16px;
    }
  }


  @media (max-width: 929px){
    .about{
        position: absolute;
        bottom: -390px; /* Adjust based on how low you want the arrow */
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-family: "Roboto", "Sans-serif";
        font-weight: 300;
        font-style: normal;
        align-items:end;
        z-index: -1; /* Lower z-index to push it behind */       
    }
    .hero-text {
        font-size: 20px;
      }
}

@media (max-width: 768px) {
    .hero-text {
      font-size: 20px;
    }

    .about{
        position: absolute;
        bottom: -390px; /* Adjust based on how low you want the arrow */
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-family: "Roboto", "Sans-serif";
        font-weight: 300;
        font-style: normal;
        align-items:end;
        z-index: -1; /* Lower z-index to push it behind */       
    }


  }
  
  @media (max-width: 480px) {
    .hero-text {
      font-size: 18px;
    }

    .about{
        position: absolute;
        bottom: -390px; /* Adjust based on how low you want the arrow */
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-family: "Roboto", "Sans-serif";
        font-weight: 300;
        font-style: normal;
        align-items:end;
        z-index: -1; /* Lower z-index to push it behind */       
    }
  }
  @media (max-width: 420px) {
    .hero-text {
      font-size: 18px;
    }

    .about{
        position: absolute;
        bottom: -490px; /* Adjust based on how low you want the arrow */
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-family: "Roboto", "Sans-serif";
        font-weight: 300;
        font-style: normal;
        align-items:end;
        z-index: -1; /* Lower z-index to push it behind */       
    }


    .hero {
        background: var(--light-hero-background);
        background-size: cover;       /* Ensures the background image covers the full container */
  background-position: center;   /* Centers the background image */
  background-repeat: no-repeat;  /* Prevents the background from repeating */
  height: 100vh;                 /* Sets the height to full viewport height */
  width: 170vw;                  /* Sets the width to full viewport width */
  display: flex;
        align-items:center;
        opacity: 0;
        animation: fadeIn 2s forwards;
        color: var(--light-text-color); /* Black text in light mode */
        transition: 0.73s ease-in-out; /* Smooth background transition */
  
        font-family: "Roboto", "Sans-serif";
      
        
      }

      html, body {
        margin: 0;
        padding-right: 0;
        width: 104%;
        height: 100%;
        overflow-x: hidden; /* Ensures no horizontal scrolling */
      }

  
  }