/* Featured Projects Section */
.featured-projects {
    margin: 0 auto;
    padding: 40px;
    background-color: var(--light-hero-background);
    text-align: center;
    font-family: "Roboto", "Sans-serif";
    color: var(--light-text-color);
  }
  
  [data-theme="dark"] .featured-projects {
    background-color: var(--dark-hero-background);
    color: var(--dark-text-color);
  }
  
  .featured-projects h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding: 20px;
    background-color: var(--light-hero-background);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* [data-theme="dark"] .project {
    background: var(--dark-hero-background);
    color: var(--dark-text-color); /* White text in dark mode */
  
  
  .project-details {
    width: 100%;
 
    text-align: left;
  }

  .project-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .project-details2 h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }


  .project-details .subtitle {
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
  }
  
  .project-details p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .project-details2 p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
  }
  




  .project2 {
    display: flex;
    flex-direction: column; /* Change to row-reverse to place the image on the right */
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding: 20px;
    background-color: var(--light-hero-background);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }



  [data-theme="dark"] .btn {
    position: relative;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* Initial text color */
    text-decoration: none;
    background-color: rgb(0, 0, 0); /* Initial button background */
    border: 2px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  .btn {
    position: relative;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* Initial text color */
    text-decoration: none;
    background-color: rgb(0, 0, 0); /* Initial button background */
    border: 2px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(45deg, #ff512f, #dd2476); /* Dynamic gradient */
    z-index: -1;
    transition: height 0.5s ease;
  }
  
  [data-theme="dark"] .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(45deg, #ff512f, #dd2476); /* Dynamic gradient */
    z-index: -1;
    transition: height 0.5s ease;
  }




  .btn:hover::before {
    height: 100%;
  }
  
  .btn:hover {
    color: #fff; /* Text color changes on hover */
    background-color: transparent; /* Ensures gradient visibility */
  }
  [data-theme="dark"] .btn:hover::before {
    height: 100%;
  }
  
  [data-theme="dark"] .btn:hover {
    color: #fff; /* Text color changes on hover */
    background-color: transparent; /* Ensures gradient visibility */
  }
  
  .project-image {
    width: 100%;
    max-width: 900px;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 900px;
  }
  
  .project-image2 {
    width: 100%;
    max-width: 900px;
  }
  
  .project-image2 img {
    width: 100%;
    height: auto;
 border-radius: 8px;
 max-width: 900px;
  }
  

  html {
    scroll-behavior: smooth;
  }
  
  [data-theme="dark"] body{
    background-color: #000000;
  }

  /* Responsive Design */
  @media (min-width: 768px) {
    .project {
      flex-direction: row;
      text-align: left;
    }
  
    .project-details,
    .project-image {
      flex: 1;
    }
    .project2 {
      flex-direction: row-reverse;
      text-align: left;
    }
  
    .project-details2,
    .project-image2 {
      flex: 1;
    }
  }
  