@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-hero-background: linear-gradient(
        rgba(0, 0, 0, 0.527), /* Dark gradient - dark grey */
        rgb(0, 0, 0)
    ), url('../images/bck.jpg');
    
    --light-hero-background: linear-gradient(to bottom, rgba(240, 234, 234, 0.74), #ffffff
    ), url('../images/bck.jpg'); /* Use a different background image for dark mode if needed */
    --light-text-color: #000000; /* Black text for light mode */
    --dark-text-color: #ffffff;  /* White text for dark mode */

    font-family: "Roboto", sans-serif;
  }



.hero {
    background: var(--light-hero-background);
    background-size: cover;
    background-position: center;
    height: 98vh;
    width: 100vw; /* Set width to full viewport width */
    max-width: 100%; /* Ensures it doesn’t exceed 100% of container */
    display: flex;
    align-items:center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    color: var(--light-text-color); /* Black text in light mode */
    transition: 0.73s ease-in-out; /* Smooth background transition */
    overflow-x: hidden;
    font-family: "Roboto", "Sans-serif";
  
    
  }
  
/* Hero background in dark mode */
[data-theme="dark"] .hero {
  background: var(--dark-hero-background);
  color: var(--dark-text-color); /* White text in dark mode */
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s forwards;
  transition: 0.73s ease-in-out; /*Smooth background transition*/

}


  .hero-text{
    flex: 1; /* Takes up the available space on the left */
  justify-content:end; /* Vertically center text */
  align-items:end; /* Horizontally center text */
  text-align: center; 
  font-family: "Roboto", "Sans-serif";
  font-weight: 800;
  line-height: 1.2;
  transform: skew(-10deg) rotate(-2deg); 
  }

  .items-right {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-end;   /* Aligns them to the right */
    position: fixed; /* Positioning on the right */
    top: 130px; /* Adjust based on desired spacing from the top */
    right: 90px; /* Adjust based on desired spacing from the right */
    font-size: 20px;
  }
  
  .items-right > * {
    margin-bottom: 10px; /* Adds spacing between each item in the vertical column */
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  
  /* Container for the roles */
.developer-roles {
  position: relative;
  font-size: 2rem;
  font-family: "Roboto", "Sans-serif";
  font-weight: 800;
  color: var(--light-text-color); /* Black text in light mode */
  height: 50px; /* Adjust based on the font size */
  overflow: hidden; /* Hide overflowing text */
  
}
[data-theme="dark"] .developer-roles {
  position: relative;
  font-size: 2rem;
  font-family: "Roboto", "Sans-serif";
  font-weight: 800;
  color: var(--dark-text-color); /* White text in dark mode */
  height: 50px; /* Adjust based on the font size */
  overflow: hidden; /* Hide overflowing text */
}

/* Individual role styles */
.role {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transform: skew(-10deg) rotate(-2deg); /* Same effect on roles */
  animation: fadeInOut 12s infinite; /* Infinite loop of fading animation */
  
  
}  

/* First role starts visible */
.role-1 {
  animation-delay: 0s;
  color: rgb(168, 24, 24);
  
} 

/* Second role appears after first one */
 .role-2 {
   animation-delay: 4s; /* Half of the total animation duration */
  color: rgb(12, 122, 233);
} 
 .role-3{
   animation-delay: 8s; /* 2nd Half of the total animation duration */
   color: rgb(211, 155, 14);
  } 
  
  
  .scroll-icon {
    position: absolute;
    bottom: 20px; /* Adjust based on how low you want the arrow */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .scroll-icon img{
    width: 140px; /* Adjust size as needed */
    animation: bounce 2s infinite;
  }
  
   a{
    text-decoration: none;
     color: rgb(0, 0, 0);
    }
    
    [data-theme="dark"] a{ 
     text-decoration: none;
     color: white;
    } 

 .about{
  background-color: #ffffff;
color: black;
min-width: 100%;
flex: 1;
scroll-margin-top: 200px;
 }
    
 [data-theme="dark"]  .about{
  background-color: #000000;
color: rgb(255, 255, 255);
min-width: 100%;
margin-bottom:0px;
 }

 .skills {
  position: absolute;
  top: calc(100% + 380px); /* Adjust 20px to control spacing */
  width: 100%;
 max-width: 100%;
  text-align: center;
  font-family: "Roboto", "Sans-serif";
  background-color: #ffffff;
  z-index: -1;
}


.skillsSection {
  background-color: #ffffff;
  color: #1c1c1c;
    padding: 40px;
    text-align: center;
    z-index: -1;
  }

  [data-theme="dark"] body{
    background-color: #000000;
  }
 
    /* Animation keyframes for Bounce */
    @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Key frame for fadein */
 @keyframes fadeIn {
   to {
     opacity: 1;
   }
 }
/* Animation keyframes */
@keyframes fadeInOut {
  0%, 40% { 
    opacity: 0; 
    transform: translateY(100%); 
  }
  10%, 30% { 
    opacity: 1; 
    transform: translateY(0); 
  }
  40%, 100% { 
    opacity: 0; 
    transform: translateY(-100%); 
  }
}



