.skillsSection {
  background-color: var(--light-hero-background);
  color: #1c1c1c;
    padding: 40px;
    text-align: center;
    z-index: -1;
    font-family: "Roboto", "Sans-serif";
  }
  
  .skillsSection h2 {
    font-size: 38px;
    margin-bottom: 10px;
    font-family: "Roboto", "Sans-serif";
  }
  
  .skillsSection hr {
    border: 1px solid #d6d6d6;
    margin: 10px auto 30px;
    width: 80%;
  }
  [data-theme="dark"] .skillsSection hr {
    border: 1px solid rgb(27, 198, 67);
    margin: 10px auto 30px;
    width: 80%;
  }
  
  .skillsCategories {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow wrapping of categories */

  }
  
  .skillsCategory {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255); 
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }
  .skillsCategory > .express{
    font-size: 34px;
  }
  
  [data-theme="dark"] .skillsCategory {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    color: #ffffff;
    border: 1px solid rgb(27, 198, 67); 
  }


  [data-theme="dark"] .skillsSection {
    background-color: #000000;
    color: #1c1c1c;
    padding: 40px;
    text-align: center;
    z-index: -1;
    color: white; 
  }
  
  [data-theme="dark"] .skillsCategory {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    color: #ffffff;

  }
  .skillsCategory h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255)
  }
  [data-theme="dark"] .skillsCategory h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: "Roboto", "Sans-serif";
  }
  
  .skillsItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

  }
  
  .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(255, 255, 255);
  }
  
  .icon {
    font-size: 2em;
    margin-bottom: 5px;
 
  }

 .express{
  color: white;
 }
  
  



  [data-theme="dark"] .icon {
    font-size: 2em;
    margin-bottom: 5px;
    color: rgb(113, 226, 7);
  }
  
  .skillItem span {
    font-size: 0.9em;
  }
  [data-theme="dark"] .skillItem span {
    font-size: 0.9em;
    color:#ffffff;
  }
  
  .languages {
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 30px;
    color: #1c1c1c;
    width:fit-content;
    text-align: center;
    margin: auto;
  }

  .languages:hover{
    background: linear-gradient(45deg, #ff512f, #dd2476); /* Dynamic gradient */
    cursor: pointer;
  }
  .hello{
    text-align: center;
   color: white;
   margin-left: 10px;
   cursor: pointer;
  }

.hello a{
  color: white;
}

  
  [data-theme="dark"] .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(45deg, #ff512f, #dd2476); /* Dynamic gradient */
    z-index: -1;
    transition: height 0.5s ease;
  }


  .btn:hover::before {
    height: 100%;
  }
  
  .btn:hover {
    color: #fff; /* Text color changes on hover */
    background-color: transparent; /* Ensures gradient visibility */
  }
  [data-theme="dark"] .btn:hover::before {
    height: 100%;
  }
  
  [data-theme="dark"] .btn:hover {
    color: #fff; /* Text color changes on hover */
    background-color: transparent; /* Ensures gradient visibility */
  }


  [data-theme="dark"] .languages {
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid rgb(27, 198, 67);
    margin-top: 30px;
    color: #ffffff;
  }
  
  .languages p {
    margin: 0;
  }
  
  .languages span {
    margin-right: 15px;
  }
  

